/* estilos.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#loginContainer, #resultadoSorteo {
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@keyframes fireworks {
    0% { transform: scale(0.5); opacity: 1; }
    100% { transform: scale(1.5); opacity: 0; }
}

.firework {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    animation: fireworks 1s ease-out;
}

@media screen and (max-width: 768px) {
    #loginBox {
        margin: 20px;
        padding: 15px;
    }

    input, button {
        margin: 10px 0;
    }
}
